.wrapper{
    padding: 1rem 1.5;
    background-color: var(--bg-card-color);
    border-radius: 5px;
    margin: 1rem 0; 
}

.img-perfil{
    height: 150px;
    width: 150px;
    border: 3px solid rgb(46, 44, 44);
    object-fit: cover;
    
}

.nombre{
    font-size: 1.8rem;
    letter-spacing: 2px;
    padding: .8rem 0;
    font-weight: bold;
    color: var(--text-color-special);
}



.puesto{
    padding:  0;
    font-size: 1.2rem;
    color: var(--text-color-secondary);
    margin-bottom: 1.5rem;
}

.descripcion{
    font-size: 1rem;
    padding: .5rem 1.5rem;

}

h1{
    margin: 0;
    padding: 0;
}


ul{
    margin: 0;
    padding: 0;
}

.contenedor_contacto{
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
    margin-top: 1rem; 
}


.contacto_git a{
    color: rgb(249, 71, 71);
}


.contacto_mail a{
    color: var(--text-color);
}


.lista{
    list-style: none;
    margin: 0;
    padding: 0;
}


 .lista a{
    text-decoration:none;
    color: var(--text-color);
    letter-spacing: 1px;
 }

 .lista a:hover{
    transition: all ease 300ms;
    color: var(--text-color-special);
    font-weight: bold;
    
 }
 
 .lista li a{
    margin: 0 2.5rem;
 }

 .lista li{
    display: flex;
    margin-left: 25%;
    font-size: .9rem;

 }

 .habilidades{
    cursor: pointer;
 }
 
 .proyectos{
    cursor: pointer;
 }

 .cv{
    cursor: pointer;
 }

 .inicio{
    cursor: pointer;
 }

 .icon{
    color: var(--text-color);
 }
