<section id="proyectos">
<div class="row">
    <div class="boton-nuevo text-center mt-3" *ngIf="isAdmin">
        <button class="btn btn-outline-primary py-1 mb-3 me-2" (click)="show()">Añadir Proyecto</button>
    </div>
    <div *ngIf="showFormAdd" class="formulario px-5">
        <app-nuevo-proyecto></app-nuevo-proyecto>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12" *ngFor="let Proyectos of proyectos">
        <div class="botones-edit-delete mt-3 me-2 d-flex float-end" *ngIf="isAdmin">
                <button class="btn mb-1 me-1 button-edit" routerLink="/editProyect/{{Proyectos.id}}"><svg
                        xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-pencil-square text-warning" viewBox="0 0 16 16">
                        <path
                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd"
                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg></button>
                <button class="btn mb-1 button-delete" (click)="onDelete(Proyectos.id)"><svg
                        xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-trash text-danger" viewBox="0 0 16 16">
                        <path
                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                        <path fill-rule="evenodd"
                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                    </svg></button>
            </div>
        <div class="wrapper">
            <div class="contedor-card">
                <div class="contenedor_img">
                    <img class="proyecto_img" [src]="Proyectos.imgProyecto" alt="">
                </div>

                <!--<div class="proyectos">

                <div class="proyectos_tags">
                    <span class="tags text-uppercase">
                        #html
                    </span>
                    <span class="tags text-uppercase">
                        #css
                    </span>
                    <span class="tags text-uppercase">
                        #ts
                    </span>
                    <span class="tags text-uppercase">
                        #java
                    </span>
                </div>!-->

                <div class="contenedor-titulo">
                    <h5 class="card_titulo mt-4">
                        {{Proyectos.nombreProyecto}}
                    </h5>
                </div>
                <div class="descripcion mt-3">
                    <p class="card_text">{{Proyectos.descProyecto}}</p>
                </div>
                <div class="buttons">
                    <a href="{{Proyectos.enlaceProyecto}}" class="button">Enlace</a>
                </div>
            </div>
        </div>

    </div>
</div>
</section>