<div class="banner">
    <div class="contenedor">
        <div class="titulo">Hola, mi nombre es</div>
        <h1 class="nombre">Guido Giolito</h1>
        
        <p class="descripcion">Soy <span class="puesto text-capitalize">programador web junior</span> con conocimientos básicos de desarrollo, tanto front-end como back-end. Cuento además con manejo de herramientas de Diseño Orientado al Usuario y formación universitaria en Antropología.</p>
            <div class="bienvenida text-end me-3">
                <a class="boton" (click)="alert()">Ver Portfolio</a>
            </div>
    </div>
</div>
