<div class="banner">
    <div class="contenedor">
        <div class="titulo">Hola, mi nombre es</div>
        <h1 class="nombre">Guido Giolito</h1>
        <h2 class="puesto">Soy Desarrollador Web Jr</h2>
        <p class="descripcion">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem accusantium nostrum
            perspiciatis corrupti nulla ipsa nesciunt repellat! At perferendis dicta vitae, distinctio, amet eius minima
            cupiditate doloremque earum inventore blanditiis.</p>
            <div class="bienvenida text-end me-3">
                <a class="boton" (click)="alert()">Ver Portfolio</a>
            </div>
    </div>
</div>
