
.banner{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor{
    background-color: rgba(62, 53, 53, 0.356);
    padding: 2.5rem 2.5rem;
    margin-top: 1rem;
    border-radius: 5px;
}

h1, h2, h3, h4{
    margin: 0;
}


.nombre{
    font-size: 2.5rem;
    padding-top: 0.3rem;
    padding-bottom: 1rem;
    color: var(--text-color-special);
}

.puesto{
    font-size: 1.5rem;
    color: whitesmoke;
}

.descripcion{
    padding: 1.5rem 0;
    max-width: 400px;
    line-height: 1.5rem;
    color: rgba(245, 245, 245, 0.812);
}

.titulo{
    color: white;
}

.btn{
    color: var(--text-secondary);
}
.btn:hover{
    background-color: var(--text-color);
    color: var( --bg-card-color);
}


.boton{
    font-size: 1rem;
    padding: .5rem 1rem;
    color:var(--text-color-special);
    border: 1px solid var(--text-color-special);
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.boton:hover{
    background-color: var(--text-color-special);
    color: white;
}

