.contenedor{
    height: 100vh;
    background-color: var(--bg-card-color);
    padding: 2.5rem 2rem;
    margin-top: 1rem;
    border-radius: 5px;
}

h1, h2, h3, h4{
    margin: 0;
}


.nombre{
    font-size: 3rem;
    padding-top: 0.3rem;
    padding-bottom: 1rem;
    color: var(--text-color-special);
}

.puesto{
    font-size: 1.5rem;
    color: var(--text-color-secondary)
}

.descripcion{
    padding: 1.5rem 0;
    line-height: 1.5rem;
}

.btn{
    color: var(--text-secondary);
}
.btn:hover{
    background-color: var(--text-color);
    color: var( --bg-card-color);
}
