

<mat-toolbar  class="mat-elevation-z4">
    <div class="hamburguesa">
        <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened">
                menu
            </mat-icon>
            <mat-icon *ngIf="sidenav.opened">
                close
            </mat-icon>
        </button>
    </div>
</mat-toolbar>


<mat-sidenav-container>
        <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z4">
            <app-perfil></app-perfil>    
        </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mx-4 mat-elevation-z4">
           <app-home></app-home>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<!--<div class="row">
    <div class="izq col-sm-12 col-md-5 col-lg-4">
        <app-perfil></app-perfil>
    </div>
    <div class="derecha col-sm-12 col-md-7 col-lg-8">
        <router-outlet></router-outlet>
    </div>
</div>!-->
