<section id="cv">
    <div class="row">

        <!--ESTUDIOS-->
        <div class="col-lg-6 col-md-12 col-sm-12">

            <div class="wrapper">
                <div class="titulo_contenedor">
                    <div class="boton-nueva-exp float-end" *ngIf="isAdmin">
                        <button class="btn btn-outline-primary py-1 mb-3 me-2" (click)="showAddEdu()">Añadir</button>
                    </div>
                    <h4 class="titulo mb-3 ms-3">Estudios</h4>
                    <div *ngIf="showFormAddEdu" class="formulario my-4 px-3">
                        <app-new-educacion></app-new-educacion>
                    </div>
                    <div class="separador border-bottom border-primary ms-3"></div>
                    <div *ngIf="showFormEditEdu" class="formulario mb-4">
                        <app-edit-educacion></app-edit-educacion>
                    </div>
                    <div class="lista_contenedor" *ngFor="let Educacion of educacion">
                        <div class="botones-edit-delete me-2" *ngIf="isAdmin">
                            <button class="btn mb-3 me-1 button-edit" (click)="showEditEdu()"
                                routerLink="/cv/{{Educacion.id}}"><svg xmlns="http://www.w3.org/2000/svg" width="20"
                                    height="20" fill="currentColor" class="bi bi-pencil-square text-warning"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                    <path fill-rule="evenodd"
                                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                </svg></button>
                            <button class="btn mb-3 button-delete" (click)="onDeleteEdu(Educacion.id)"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    class="bi bi-trash text-danger" viewBox="0 0 16 16">
                                    <path
                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                    <path fill-rule="evenodd"
                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                </svg></button>
                        </div>
                        <ul class="lista_estudios">
                            <li class="titulo_estudio">
                                <p class="titulo_texto fw-bold">{{Educacion.nombreEdu}}</p>
                            </li>
                            <li class="institución">
                                <p class="institucion_texto">{{Educacion.tituloEdu}}</p>
                            </li>
                            <li class="año">
                                {{Educacion.fechaEdu}}
                            </li>
                            <li class="descripcion">{{Educacion.descripcionEdu}}</li>
                        </ul>
                        <div class="separador border-bottom border-primary"></div>
                    </div>
                </div>
            </div>
        </div>

        <!--EXPERIENCIA-->
        <div class="col-lg-6 col-md-12 col-sm-12">

            <div class="wrapper">
                <div class="titulo_contenedor">
                    <div class="boton-nueva-exp float-end" *ngIf="isAdmin">
                        <button class="btn btn-outline-success py-1 mb-3 me-2" (click)="showAdd()">Añadir</button>
                    </div>
                    <h4 class="titulo mb-3 ms-3">Experiencia</h4>
                    <div *ngIf="showFormAdd" class="formulario my-4 px-3">
                        <app-new-experiencia></app-new-experiencia>
                    </div>
                    <div class="separador border-bottom border-success ms-3"></div>
                    <div *ngIf="showForm" class="formulario mb-4">
                        <app-edit-experiencia></app-edit-experiencia>
                    </div>
                    <div class="lista_contenedor" *ngFor="let Experiencia of experiencia">
                        <div class="botones-edit-delete me-2" *ngIf="isAdmin">
                            <button class="btn mb-3 me-1 button-edit" (click)="show()"
                                routerLink="/cv/{{Experiencia.id}}"><svg xmlns="http://www.w3.org/2000/svg" width="20"
                                    height="20" fill="currentColor" class="bi bi-pencil-square text-warning"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                    <path fill-rule="evenodd"
                                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                </svg></button>
                            <button class="btn mb-3 button-delete" (click)="onDelete(Experiencia.id)"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    class="bi bi-trash text-danger" viewBox="0 0 16 16">
                                    <path
                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                    <path fill-rule="evenodd"
                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                </svg></button>
                        </div>
                        <ul class="lista_estudios">
                            <li class="titulo_estudio">
                                <p class="titulo_texto fw-bold">{{Experiencia?.nombreExp}}</p>
                            </li>
                            <li class="institución">
                                <p class="institucion_texto">{{Experiencia?.nombreEmpresa}}</p>
                            </li>
                            <li class="año">
                                {{Experiencia?.fechaExp}}
                            </li>
                            <li class="descripcion">{{Experiencia?.descripcionExp}}</li>
                        </ul>
                        <div class="separador border-bottom border-success"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>