<div class="contenedor">
    <div class="formulario text-start">
        <form (ngSubmit)="onCreate()" novalidate #f='ngForm'>
            <div class="form-group mb-3">
                <label for="nombreExp">Cargo</label>
                <input type="text" class="form-control" id="nombreExp" name="nombreExp" [(ngModel)]="nombreExp"
                    required>
            </div>
            <div class="form-group mb-3">
                <label for="nombreEmpresa">Empresa</label>
                <input type="text" class="form-control" id="nombreEmpresa" name="nombreEmpresa"
                    [(ngModel)]="nombreEmpresa" required>
            </div>
            <div class="form-group mb-3">
                <label for="fechaExp">Fecha</label>
                <input type="text" class="form-control" id="fechaExp" name="fechaExp" [(ngModel)]="fechaExp" required>
            </div>
            <div class="form-group mb-3">
                <label for="descripcionExp">Descripción</label>
                <input type="text" class="form-control" id="descripcionExp" name="descripcionExp" [(ngModel)]="descripcionExp" required>
            </div>
            <div class="d-grid gap-2 mt-4">
                <button class="btn btn-success">
                    Añadir experiencia
                </button>
            </div>
        </form>
    </div>
</div>
