<div class="contenedor">
    <div class="formulario text-start">
        <form (ngSubmit)="onCreate()" novalidate #f='ngForm'>
            <div class="form-group mb-3">
                <label for="nombreHabBack">Nombre</label>
                <input type="text" class="form-control" id="nombreHabBack" name="nombreHabBack" [(ngModel)]="nombreHabBack" required>
            </div>
            <div class="form-group mb-3">
                <label for="porcentajeHabBack">Porcentaje</label>
                <input type="text" class="form-control" id="porcentajeHabBack" name="porcentajeHabBack" [(ngModel)]="porcentajeHabBack" required>
            </div>
            <div class="d-grid gap-2 mt-4">
                <button class="btn btn-outline-success">
                    Añadir habilidad
                </button>
            </div>
        </form>
    </div>
</div>